# Godot 4+ specific ignores
.godot/
/android/

# Build folder
/result/
!/result/mac/README.md
!/result/windows/README.md
!/result/web/README.md
!/result/linux/README.md

# Notes things
.obsidian

# Mac things
.DS_Store
